/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .

 *= require_self
 */


/* REFERENCE */

/* Logo Blue */
/* rgb(16, 174, 241); */
/* 10AEAB */


/* Font */
/* Roboto */

/* Text color */

/* #1A2E3B; */


/* Blue button

.video-upload-container form input[type=file] {
    width: 100%;

    color: white;
    background-color: #00adef;
    /* background: red; */
/* }

.video-upload-container form input[type=file]:hover {
    color: white;
    border-color: #08C;
    background-color: #08C;
}  */



/* Main Font */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');
/* Logo Font */
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');




 body {
  font-family: "Roboto", sans-serif;
  /* background-color: rgb(16, 174, 241); */
      background-color: white;
}


