/* HEADER */

.header-nav {
  display: flex;
  justify-content: space-between;
  align-content: center;

  height: 70px;

  font-size: 1em;
  color: #1A2E3B;
  background: white;
}

.login-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: white;
  font-size: 1em;
  color: rgb(14,22,22);
}

/* PLACED HEADER LOGO CSS IN APPLICATIONS */

.header-logo:hover {
  color: rgb(16, 174, 241);
  transition: 0.4s;
}

/* Removes annoying box around logo when mouse moves from logo */
a.header-logo:focus, a.header-logo:visited {
  outline-color: white !important;
}

nav {
  display: flex;
  justify-content: flex-start;
}

nav button {
  margin-top: 10px;
  padding: 10px 20px 10px 20px;

  background: transparent;

  color: #1A2E3B;
  text-transform: none;
  text-decoration: none;
  cursor: pointer;
}

.button-signup {
    font-weight: 700;
    border: 1px solid lightgray;
} 

.button-signup:hover {
    border: 1px solid black;
}

.button-login {
    border: 0;
    text-transform: none;
}


/* ---------------------------------------------------- */

/* Upload Watch Link */

.nav-watch-button {
  margin-top: 10px;
  padding: 10px 20px 10px 20px;
  background: transparent;
  text-decoration: none;
  color: #1A2E3B;
  text-transform: none;
  cursor: pointer;
}

/* ---------------------------------------------------- */

/* Right - Upload Nav Button */

.nav-upload {
  display: flex;
  justify-content: flex-end;
  align-content: center;

  height: 70px;

  font-size: 1em;
}

a.nav-upload-button {
  width: 90px;

  max-height: 50px;

  margin-top: 20px;
  margin-right: 40px;
  margin-bottom: 20px;
  padding: 5px 5px 5px 3px;

  font-size: 0.9em;
  font-weight: 700;
  /* line-height: 1em; */
  text-align: center;
  text-transform: none;
  text-decoration: none;

  color: white;
  background-color: #00adef;
  border-color: #00adef;
  border-radius: 0.1875rem;

  cursor: pointer;
}

.nav-upload-button svg {
  margin-right: 5px;
  font-size: 1.2em;
}

a.nav-upload-button:hover {
  border-color: #08C;
  background-color: #08C;
}

/* Right - User Icon - Swimmer */

.nav-user-icon {
  width: 8px;
  height: 8px;

  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 25px;
  margin-left: 5px;
  
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 15px;
  /* padding: 10px; */
  color: rgb(16, 174, 241);
  background-color: #cceffc;
  font-size: 1.2em;
  /* line-height: 1em; */
  border: 4px solid rgb(16, 174, 241);
  border-radius: 50%;
}

.svg-inline--fa.fa-w-20 {
  width: 1em;
}


/* LOGOUT */

button.button-logout{
  width: 100px;
  height: 40px;
  margin: 15px 20px;
  
  padding: 5px 15px;

  color: #1A2E3B;
  background: transparent;
  text-decoration: none;
  text-transform: none;
  cursor: pointer;
}

button.button-logout:hover {
  color: black;
  border-color: black !important;
  /* border: 5p solid blue; */
}


/* SEARCH */

.search-bar {
  width: 260px;
  height: 34px;
  margin: 18px;

  color: #4E5A5E;
}


.search-bar-inner {
    display: flex; 
    justify-content: space-between;
    align-content: center;

    width: 100%;
    height: 100%;

    border: 1px solid #4E5A5E;
}
    
  .search-input {
      width: 100%;
      height: auto; 
      padding: 10px;
      border: none !important;

      color: #4E5A5E;
    }

    .search-input::placeholder {
      color: #8A9599;
    }
      

    .search-button{   
      display: inline;
      height: 34px;
      width: 34px; 
      margin: 0;

      font-weight: 700;

      border: none !important;
      background: transparent;

      z-index: 5;
      
      cursor: pointer;

    }


