/* HEADER HERO */

.hero-container {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
}

.hero-header {
  margin-top: 50px;
  font-size: 5em;
  font-weight: 700;
  color: rgb(26, 46, 59);
}

.hero-subheader {
  margin-top: 20px;
  font-size: 1.2em;
  font-weight: 300;
  opacity: 0.7;
}

.hero-buttons {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.hero-buttons button {
  margin: 20px;
  padding: 15px 40px 15px 40px;
  font-weight: 700;
  border-radius: 5px;
}

.hero-buttons-plan {
  color: white;
  background-color: rgb(216, 105, 149);
}

.hero-buttons-plan:hover {

  background-color: rgb(177, 85, 122);
}

.hero-buttons-join {
  color: rgb(26, 46, 59);
  background-color: white;
  border: 1px solid lightgray;
}

.hero-buttons-join:hover {
  border: 1px solid black;
}

/* Media Queries */

@media screen and (min-width: 480px) {
.hero-header {

  font-size: 3em;

}
}