.plans-page {
    width: 100%;
    min-height: 100vh;

    color: rgb(26, 46, 59);
    background-color: lightpink;
}

.plans-header {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 100px;
    margin:50px;


    text-align: center;

}

.plans-header h1 {
    margin: 40px;
    font-size: 4em;
    font-weight: 500;
    letter-spacing: -1.5px;
}

.plans-header h3 {
    font-size: 1.5em;
    font-weight: 400px;
}

.plans-ourplans {
    display: flex;
    justify-content: spaece-between;
    align-content: baseline;

    width: 100%;
    max-height: 500px;

    

}

.plans-ourplans-left {

    width: 30rem;
    height: 400px;
    padding: 20px;

    background-color: lightseagreen;


    font-size: 2em;
}

.plans-ourplans-right {

    display:flex;
    justify-content: flex-end;
    align-content: baseline;
    flex-wrap: wrap;

    /* width: 60%;
    max-width: 800px; */
    min-width:70%;

    height: 400px;
    padding: 20px;

    background-color: lightyellow;
    font-size: 2em;
}

.plans-ourplans-tier1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;

    min-width: 150px;
    max-width: 300px;
    height: 100%;
    margin: 10px;

    background-color: lightgreen;

    word-break: break-word;
    text-align: left;
}

.plans-ourplans-plan-header-img {
    margin: 0 auto;
}

.plans-ourplans-plan-header {
    margin-bottom: 10px;

    font-size: 1em;
    text-align: center;
}

.plans-ourplans-plan-pricing {

    margin: 10px;
    font-size: .5em;
    font-weight: 300;
}

.plans-ourplans-plan-sub {

    padding: 10px;
    border-top: 1px solid lightgray;
    font-size: .5em;
    font-weight: 300;


}

.plans-ourplans-plan-sub ul {
    margin: 5px;
    list-style-type: disc;
    list-style-position: inside;

}

.plans-ourplans-tier1 button{
    width: 80%%;
    margin: 10px;
    padding: 10px 15px;

    color: white;
    font-size: 0.5em;
    line-height: 1em;
    text-align: center;

    border-radius: 3px;
}
.plan-btn-1 {
    background-color: rgb(75, 201, 255);
}

.plan-btn-2 {
    background-color: rgb(16, 111, 167);
}

.plan-btn-2:hover {
    background-color: rgb(75, 201, 255);
}

.plan-btn-3 {
    background-color: rgb(75, 201, 255);
}

.plan-btn-3:hover {
    background-color: rgb(75, 201, 255);
}

fish-1 {

}

fish-2 {

}

fish-3 {
    
}