
 /* ------------------------------------------------------------------------------------ */
 /* VIDEO UPLOAD */
 /* ------------------------------------------------------------------------------------ */

 .video-upload-page-container {
     display: flex;
     justify-content: center;
     align-content: flex-start;
     padding: 60px;
     background: white;
 }



 .upload-subheader {
     font-size: 0.6em;
     font-weight: 300;
     color: #1A2E38;
     opacity: 0.7;
     text-align: center;
 }

  .upload-header-logo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

 .upload-header-logo img {
    width: 70px;
    height: auto;
    margin-top: 45px;
 }

 .video-upload-container {
    position: relative;
    width: 40rem;
    max-height: 30rem;
    margin: 10px;
    padding: 10px;
    
    font-size: 2em;
    color: #1A2E3B;
    background-color: white;
    border: 1px dashed #D0D8DB;
}

 .video-upload-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 60%;
    margin: 0 20%;
    padding: 10px;
    background-color: white;
 }

 .upload-header {
    margin: 5px;
    font-size: .7em;
    font-weight: 500;
    text-align: center;
 }

.upload-input-label {
    margin-bottom: 5px;

    font-size: .5em;
    font-weight: 700;
    line-height: 1em;
}

/* Chooose File Button */

.video-upload-container form  input[type="file"].upload-choose-file-button-faux {
    width: 100%;
    margin-top: 20px;
    padding: 0;
    
    font-size: .5em;
    line-height: 1.5em;
    
    background: white;
}
input.upload-choose-file-button-faux:hover {
    background-color: transparent;
    border: transparent;
}

input::-webkit-file-upload-button {
    width: 100%;
    padding: 5px;

    color: white;
    background: #00adef;
    border-color: #00adef;
    text-align: center;
}

input::-webkit-file-upload-button:hover {
    background-color: #08C;
    border-color: #08C;
}


/* .video-upload-container form:nth-child(1) {
    margin: 10px;
} */

/* Descriptions */
.video-upload-container form input, .video-upload-container form textarea  {
    width: 100%;
    margin-top: 5px;
    padding: 5px;

    font-size: 1em;
    font-weight: 500;
}

/* Choose File button */
.video-upload-container form input[type=file] {
    width: 100%;

    color: white;
    background-color: #00adef;
    border-color: #00adef;
}

.video-upload-container form input[type=file]:hover {
    color: white;
    border-color: #08C;
    background-color: #08C;
}


/* Upload Video Button */
 .upload-form-upload-button {
    width: 100%;
    margin-top: 20px;
    padding: 5px;

    font-size: .5em;
    font-weight: 500;
    line-height: 1.5em;
    background: white;
    border: 1px solid grey
 }

.upload-form-upload-button:hover {
    background-color: lightgray;

 }

.video-upload-form-footer {
    margin: 20px 10px;

    font-size: 1em;
    color: #1A2E3B;
    opacity: 0.5;
}

/* Upload .video-upload-right-sidebar */

  .video-upload-sidebar {
    position: relative;
    
    width: 20rem;
    max-height: 30rem;
}

 .video-upload-sidebar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    width: 90%;
    margin: 0 5% 0 5%;
    padding: 10px;

    color: #1a2e3b;
    /* background-color: lightgreen; */

    font-size: .7em;
 }

 .video-upload-right-sidebar-headbar {
     /* position: absolute; */
     /* top: 0; */
    width: 100%;
    height: 10px;
    background: #EEF1F2;
    border-radius: 5px;
 }

  /* .video-upload-right-sidebar-headbar-overlay {
      top: 0;
      position: relative;
    width: 50px;
    object-fit: contain;

    height: 10px;
         margin: 5px;
    background: teal;
    border-radius: 5px;
    z-index: 10;
 } */


.video-upload-right-sidebar-1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* margin: 5px; */
 }

 .video-upload-right-sidebar-subheader {
    margin-top: 20px;

    font-size: 1.4em;
    font-weight: 500;
 }

.video-upload-right-sidebar-buttons {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    /* margin-right: 20%; */
    /* margin-top: 10px; */
    /* background: orange; */
}

 .video-upload-fake-button {
    width: 130px;
    margin: 5px;
    padding: 10px 10px;

    font-size: 1.2em;
    font-weight: 700;
    text-align: center;

    color: #000000;
    border-radius: .2rem;
    background-color: #EEF1F2;
    border-color: #EEF1F2;
 }

  .video-upload-fake-button:hover {
    background-color: #E0E6E6;
    border-color: #E0E6E6;
 }

