/* ---------------------------------------------------- */

/* WATCH PAGE SIDEBAR */

/* ---------------------------------------------------- */

.watch-page-container {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-content: baseline;

    width: 100%;
    /* height: auto; */
      min-height: 100vh;

    font-size: 1em;
    color: #1A2E3B;
    background: white;

    border-top: 2px solid rgba(238,241,242,1);
}

.watch-page-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;

    width: 200px;
    height: 500px;
    padding: 10px 15px;

    background: #f6f7f8;
}

.watch-page-sidebar .nav-upload-button {
    width: 80%;
    line-height: 1em;

    letter-spacing: 0.5px;
    text-align: center;
}

.watch-sidebar-list  {
    width: 80%;
    height: auto;

    margin-top: 10px;
    margin-right: 10%;
    
}

.watch-sidebar-list-item {
    display: flex;
    justify-content: flex-start;
    align-content: baseline;

    width: 100%;
    padding-left: 20px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;

    color: #1A2E3B;
    background: white;

    font-weight: normal;
    line-height: 1em;
    text-align: left;

    border-radius: 3px;
}


.watch-sidebar-list-item:hover {
    background-color:  #e3e8e9;
}

.watch-sidebar-list-item svg {
    width: 20px;
    height: auto;
    margin-right: 10px;

}

.watch-sidebar-list-item-text {
    width: 20px;
    height: auto;
    margin-top: 5px;
    margin-bottom: 5px;

}

.watch-sidebar-footer {
    width: 80%;
    height: 100px;
    margin-top: 30px;
    padding: 20px;
    
    background-color: white;
}

.watch-sidebar-footer h1 {
    font-weight: 700;
}

.watch-sidebar-footer h3 {
    margin-top: 5px;

    color: #8498A4;

    font-size: 0.8em;
    font-weight: 200;
    letter-spacing: 0.04em;
}

.watch-sidebar-footer .splash-buttons-plan {
    margin: 15px 5px;
    padding: 10px 40px;

    color: white;
    background-color: #4EC437;
    border-color: #4EC437;
    border-radius: 3px;

    font-size: 0.8em;
    line-height: 1em;
    letter-spacing: 0.04em;
    text-align: center;
}
.watch-sidebar-footer .splash-buttons-plan:hover {
    background-color: #4B8F29;
    border-color: #4B8F29;
    transition: 0.4s;
}


/* ---------------------------------------------------- */

/* WATCH PAGE MAIN */

/* ---------------------------------------------------- */

.watch-page-main {
    width: 100%;
    min-width: 40rem;
    background:white;

}

.watch-page-main-header {
    /* width: 100%; */
    height: 70x;
    padding: 30px;

    border-bottom: 1px solid #e3e8e9;

    font-size: 2em;
    font-weight: 400;
}

.watch-page-main-grid {
    width: 90%;
    margin: 2% 10%;
}

.watch-main-grid-container {
    display: flex;
    justify-content: flex-start;
    align-content: baseline;
    flex-wrap: wrap;
}

.watch-page-main-grid-item {
    width: 325px;
    /* max-width: 50%; */
    height: 325;
    margin: 10px;

    
    /* flex: 1 1 50%; */
    /* border-color: rgb(238, 241, 242);
    border-left: 1px;
    border-right: 1px;
    border-bottom: 3px; */
    -webkit-box-shadow: 3px 3px 5px 0px rgba(238,241,242,1);
    -moz-box-shadow: 3px 3px 5px 0px rgba(238,241,242,1);
    box-shadow: 3px 3px 5px 0px rgba(238,241,242,1);
    background: white;
}

.watch-page-thumb {
    top: 0;
    left: 0;
    width: 100%;
    /* min-width: 250px; */
    height: auto;
    margin: 0px;
}

.watch-page-thumb:hover {
  /* -webkit-filter: saturate(50%);
  filter: saturate(50%); */

    -webkit-filter: brightness(60%);
  filter: brightness(60%);
}

.watch-page-main-grid-item h1 {
    width: 325px;
    margin: 10px;

    font-size: 1em;
    font-weight: 700;
    line-height: 2em;

}
